dns.pi {
    tls internal
    reverse_proxy 100.101.218.97:8081
}
storage.pi {
    tls internal
    reverse_proxy 100.101.218.97:8080
}
media.pi {
    tls internal
    reverse_proxy 100.101.218.97:4533
}
manage.pi {
    tls internal
    reverse_proxy 100.101.218.97:9000
}
