dns.pi {
    tls internal
    reverse_proxy {$PI_HOST}:8081
}
storage.pi {
    tls internal
    reverse_proxy {$PI_HOST}:8080
}
media.pi {
    tls internal
    reverse_proxy {$PI_HOST}:4533
}
manage.pi {
    tls internal
    reverse_proxy {$PI_HOST}:9000
}

vault.pi {
    tls internal
    reverse_proxy {$PI_HOST}:8222
}
